[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins.git
[submodule "pyhogs-code"]
	path = pyhogs-code
	url = https://github.com/PyHOGS/pyhogs-code.git
